@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* BACKGROND */

.container-MainContent{
  background-image: url('../public/images/Bg-pic.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-height: 88vh;
}

.backgroundColor {
  background-color: #0e74902f;
}

.page-prompt{
  background-color: #658b6fa9;
  color: white;
  padding: 3% 3%;
  text-align: center;
}


/* LOGIN */

.loginBackground{
  background-image: url('../public/images/johnson-wang-iI4sR_nkkbc-unsplash.jpg');
}

.loginContainer{
  background-color: white;
}

.clickable-icon{
  cursor: pointer;
}


/* CARDS */

.picHeader{
  position: relative;
  height: auto;
  width: auto;
}

.card-img-top {
  height: 150px;
  width: 250px;
}

.card{
  width: 250px;
  padding: 10px;

}

.col{
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  padding: 5px;
}

.card-container-form{
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:#145f748f;
  border-radius: 25px;
}

.card-container2{
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:#145f748f;
  border-radius: 25px;
}

.card-container{
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color:#145f748f;
  border-radius: 25px; */
}

/* AllProjects cards*/
.projectsCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 4rem;
  justify-content: center;
  align-content: center;
  padding: 25px 15%;
}

.projectsCol {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

/* FirstPage.js cards */
.card-containerFP{
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.contact{
  text-decoration: none;
  color: black;
}

.contact a{
  text-decoration: none;
  color:black;
  
}
.contact a:hover{
  text-decoration: none;
  color:black;
  background-color:#cbe2e9fb;
  border-radius: 25px;
}


.form-container{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}


  /*FORM HEADING*/
.form-heading{
  font-weight: 800;
  font-size: 17px;
  padding: 15px;
}

.page-prompt{
  background-color: #658b6fa9;
  color: white;
  padding: 3% 3%;
  text-align: center;
  }

/* BUTTONS */

.login-button {
  position: absolute;
  font-weight: 800;
  font-size: 14px;
  color: #fcfbfb;
  background: linear-gradient(90deg, #0e7490 20%, #164e63 70%);
  padding: 10px 30px;
  border: solid #28363D 1px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 50px;
  transition : 835ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
  right: 0;
  top: 1%;
  right: 2%;
}

.login-button:hover{
  transition : 835ms;
  padding: 10px 44px;
  transform : translateY(-0px);
  background: linear-gradient(90deg, #0e7490 20%, #164e63 70%);
  color: #f1f4f7;
  border: solid 1px #28363D;
}


.default-btn{
  font-weight: 800;
  font-size: 14px;
  text-align: center;
  color: #fcfbfb;
  background: linear-gradient(90deg, #0e7490 0%, #164e63 70%);
  padding: 10px 30px;
  border: solid #28363D 1px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 50px;
  transform: translateY(0);
  cursor: pointer;
}

.default-btn:hover{
  background: #0e7490;
}

.list-container{
  display: flex;
  flex-direction: column;
  top: 0;
  margin-top: 60px;
  margin-right: 70px;
  position: absolute;
  right: 0;
  z-index: 10;

}

.list-hours{
  margin-bottom: 10px;
}

.list-container li{
  background-color: #042b35f1;
  color: white;
}

/* SMALLER SCREEN SPEC */

@media screen and (max-width: 700px) {
  .col{
    flex: column wrap;
  }
  .card-container{
    flex-wrap: wrap;
  }
  .container-MainContent{
    background-image: url('../public/images/Bg-pic.jpeg');
    width: 100%;
    height: auto;
    min-height: 88vh;
  }

  .card-containerFP{
    padding: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list-container{
    top: 0;
    margin-top: 60px;
    margin-right: 38px;
    position: absolute;
    right: 0;
    z-index: 10;  
  }


  .list-hours{
    width: 248px;
  }
}
@media screen and (max-width: 1080px) {
  .footer-container {
    background-color: #164e63bd;
    color: white;
    display: flex; 


    text-align: center;

    }
  
}

  .form-button {
    font-weight: 800;
    font-size: 17px;
    color: #fcfbfb;
    background: linear-gradient(90deg, #0e7490 20%, #164e63 70%);
    padding: 15px 100px;
    border: solid #28363D 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50px;
    transition : 835ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  .form-button:hover{
    transition : 835ms;
    transform : translateY(-0px);
    background: linear-gradient(90deg, #0e7490 20%, #164e63 70%);
    color: #f1f4f7;
    border: solid 1px #28363D;
  }


  .swal-popup{
    background-color: #fcfbfb;
    justify-content: center;
    /* align-items: center; */
    /* padding: 17px; */
    border: 1px solid #F0E1A1;
    display: block;
    margin-left: 50%;
    margin-top: 50%;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }

  /* EXTRA */

.inputChangeTime{
  background-color:#164e6311;
}

.inputChangeTime::placeholder{
  color: black;
}

/* FOOTER */
footer {
  background-color: #164e63bd;
  text-align: center;
  color: white;
  margin-top: auto; 
  height: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding-top: 15px; 
  width: 100%;
}

  .footer-container {
    background-color: #164e63bd;
    color: white;
    margin-top: auto; 
    height: 50px; 
    display: flex; 
    justify-content: space-between;
    text-align: left;
    padding-top: 15px; 
    width: 100%;
  }

  .swal-button {
    font-weight: 800;
    border-radius: 50px;
    background: linear-gradient(90deg, #0e7490 20%, #164e63 70%);
    font-size: 17px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }

/* COLOR SCHEME */
.color1{
  color: #DEE1DD;
}
.color2{
  color: #C4CDC1;
}
.color3{
  color: #99AEAD;
}
.color4{
  color: #6D9197;
}
.color5{
  color: #658B6F;
}
.color6{
  color: #2F575D;
}
.color7{
  color: #28363D;
}

.clockInButton{

  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  background-color: #2f575d;
  padding: 10px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition : 564ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  }
  
  .clockInButton:hover{
  
  transition : 564ms;
  padding: 10px 50px;
  transform : translateY(-0px);
  background-color: #fff;
  color: #2f575d;
  border: solid 2px #2a9d8f;
  }

  .clockImg{
    width:24px; 
    margin-left:3px; 
    margin-right:3px; 
    flex-direction: row;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;